/* fondo del navbar */
.navbar{
    background-color: #13182b !important;
}

/* color del texto del navbar */
.navbar .nav-link, .navbar .navbar-brand {
    color: #ffffff !important;
}

/*color del botón del navbar */
.navbar .navbar-toggler {
    background-color: #ffffff !important;
}

/*Color link al pasar el mouse */
.navbar .nav-link:hover {
    color: #ffc107 !important;
}

/*Hero Section */
.hero-section {
    background: linear-gradient(135deg, #131c30 0%, #112d52 100%);
    padding: 60px 0;
    text-align: center;
}

.hero-section .display-4 {
    font-weight: 700;
    color: #ffffff;
}

.hero-section .display-4 span {
    color: #36b3d6;
    text-decoration: underline;
    
}

.hero-section .lead {
    font-size: 1.25rem;
    margin-bottom: 20px;
}


