/* fondo del navbar */
.navbar{
    background-color: #272222 !important;
}

/* color del texto del navbar */
.navbar .nav-link, .navbar .navbar-brand {
    color: #ffffff !important;
}

/*color del botón del navbar */
.navbar .navbar-toggler {
    background-color: #ffffff !important;
}

/*Color link al pasar el mouse */
.navbar .nav-link:hover {
    color: #ffc107 !important;
}